<!DOCTYPE html>
<html>
<head>
  <title>Home Page</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
  <h1>Welcome to the Home Page Item</h1>
  <ul>
    <% items.forEach(item => { %>
      <li>
        <a href="/detail?id=<%= item.id %>"><%= item.carModel %></a>
      </li>
    <% }); %>
  </ul>
</body>
</html>